.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 300px;
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.toast {
    margin-bottom: 10px;
    display: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 3px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

    .toast.success {
        background-color: #28A745;
    }

    .toast.error {
        background-color: #DC3545;
    }

    .toast.show {
        display: block;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 20px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 20px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}
