@helper TableHeaderButton()
{
    <div class="row">
        <div class="col-5">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#fullscreenModal"><i class="bi bi-check2-circle me-1"></i>Ekle</button>
            <button type="button" class="btn btn-danger sm"><i class="bi bi-bag-x-fill me-1"></i>Sil</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullscreenModal"><i class="bi bi-arrow-counterclockwise me-1"></i> Düzenle</button>
        </div>

        <div class="col-2">
        </div>
        <div class="col-5">

        </div>



    </div>


}
